@{
    ViewBag.Title = "Job Loader - JARK Inc.";
}

<h2>@ViewBag.Message</h2>

This site allows students to help each other get informed about job postings that 
might be available. Recruiters are also encouraged to join the site to list available jobs.
<p>You will need to log in before you can use the various features of the site.</p>